<%- include("../includes/header.ejs", {title:"User's - View All"}); %>
<h1>Re-Up warehouse's</h1>
<a href="/warehouse/add">Add New Warehouse</a><br />
<br />

<table border="1">
    <tr><th>Zip Code</th><th>Location</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].zip_w %></td>
        <td><a href="/warehouse/?ware_id=<%= result[i].ware_id %>"><%= result[i].name_w %></a></td>
        <td><form action="/warehouse/delete/">
                <input type="hidden" name="ware_id" id="ware_id" value="<%= result[i].ware_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<br/>
<a href="/"><< back</a>
<%- include("../includes/footer.ejs"); %>